<a href="https://colab.research.google.com/github/vavaqwe/Python_Practice/blob/main/Python_Practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Рядки (String).

1. Створити пустий рядок двома різними способами.

In [ ]:
variable_one = ''
variable_two = str()

2. Створити рядок з апострофом.

In [ ]:
ball = "м'ята"

3. Створити рядок з символом переходу на новий рядок та роздрукувати його в консоль.

In [ ]:
line = "М'ята — рід рослин родини глухокропивових. \n Усі види (згідно з Plants of the World Online 24 види[1]) дуже запашні, більшість з них містить багато ментолу."
print(line)

М'ята — рід рослин родини глухокропивових.
 Усі види (згідно з Plants of the World Online 24 види[1]) дуже запашні, більшість з них містить багато ментолу.

4. Зробити рядок з завдання №3 "сирим"(raw), вивести в консоль та порівняти з результатом в попередному завданні.

In [ ]:
line_raw = r"М'ята — рід рослин родини глухокропивових. \n Усі види (згідно з Plants of the World Online 24 види[1]) дуже запашні, більшість з них містить багато ментолу."
print(line_raw)

М'ята — рід рослин родини глухокропивових. \n Усі види (згідно з Plants of the World Online 24 види[1]) дуже запашні, більшість з них містить багато ментолу.

сирий рядок не прочитав символ переходу

5. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
my_name = 'Yaroslav'
print(f'My surname is {my_name}')

6. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
crazy_dog = 'My dog is crazy.'
dog_list = crazy_dog.lower().split(' ')
print(dog_list)

['my', 'dog', 'is', 'crazy.']

# II. Множини (Set).

7. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
set_var = set()
set_var.add(1)
set_var.add(2)
set_var.add(3)
set_var

{1, 2, 3}

так, бо після створення можна додавати нові змінні

8. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
my_set

{1, 2, 8, 9, 67}

9. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
my_set_one = {1, 2, 8, 9, 3, 15}
my_set_two = {1, 2, 8, 9, 5, 4}

print(my_set_one.union(my_set_two))
print(my_set_one.difference(my_set_two))
print(my_set_one.intersection(my_set_two))
print(my_set_one.symmetric_difference(my_set_two))

{1, 2, 3, 4, 5, 8, 9, 15}
{3, 15}
{8, 1, 2, 9}
{3, 4, 5, 15}

10. Створіть множину з пʼяти елементів. За допомогою спеціального методу, вилучіть три елементи один за одним з множини. Чи може гарантуватися порядок елементів у множинах?

In [ ]:
my_set = {1,5,7,8,9}
print(my_set)
my_set.remove(1)
print(my_set)
my_set.remove(7)
print(my_set)
my_set.remove(5)

{1, 5, 7, 8, 9}
{5, 7, 8, 9}
{5, 8, 9}

порядок не змінюєтся

# III. Словники (Dictionary).

11. Створіть пустий словник двома способами.

In [ ]:
first_dict = dict()
second_dict = {
    1:'a',
    2:'b'
}

12. До одного зі словників вище додайте чотири пари елементів такі, щоб їхні ключі були різних типів.

In [ ]:
second_dict.update({'h':True,'va':[1,1,1],(5,6):1,'0':(5,1)})
print(second_dict)

{1: 'a', 2: 'b', 'h': True, 'va': [1, 1, 1], (5, 6): 1, '0': (5, 1)}

ключем не можуть бути бо список є змінним об'єктом,а значенням так

13. Використовуючи той самий словник, отримайте по ключу будь-яке значення з наявних. Тепер видаліть цю пару ключ-значення. Спробуйте знову отримати значення по цьому ж ключу. Використовуючи спеціальний метод, виправте помилку.

In [ ]:
print(second_dict)
del second_dict[1]
print(second_dict.get(1, 'Incorrect'))

{1: 'a', 2: 'b', 'h': True, 'va': [1, 1, 1], (5, 6): 1, '0': (5, 1)}
Incorrect

# IV. Оператори порівняння та логічні оператори. Умови.

14. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [ ]:
like_number = 5
if like_number % 2 == 0 :
    like_number *= 2
    print(like_number)
else:
    like_number = (like_number * 3) + 1
    print(like_number)

16

15. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [ ]:
my_name = "Vovn"
flag = True
if flag :
    if 'a' in my_name.lower() or 'i' in my_name.lower():
        print('A or I is in the name')

    if 'o' in my_name.lower() and 'n' in my_name.lower():
        print('O and N is in the name')

    if 'o' not in my_name.lower() and 'n' in my_name.lower():
        print('Only N is in the name')
else:
    print('There is no N in the name, but there might be O')

O and N is in the name

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.